$black: #000000;
$white: #ffffff;
$main-bg: #09050a;
$text-grey: #aeacb2;
$light-grey: #d0cfd1;
$dark-grey: #a194d2;
$modal-bg: #3e529833;
$button-bg: #52409a;
$dirty-white: #dddcd7;
$error-red: #e43f5a;
