@import '../../styles/variables.module.scss';

.input-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.input-label {
  font-size: 14px;
  color: $text-grey;
}

.input-field {
  width: 100%;
  padding: 12px;
  border: 2px solid $dark-grey;
  border-radius: 6px;
  background: $main-bg;
  color: $white;
  font-size: 16px;
  transition: all 0.3s ease-in-out;

  &::placeholder {
    color: $light-grey;
    opacity: 0.7;
  }

  &:hover {
    border-color: $button-bg;
  }

  &:focus {
    border-color: $white;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
