@import '../../styles/variables.module.scss';
@import '../../styles/mixins.module.scss';

.input-container {
  @include flexStyles(flex, column, flex-start, flex-start);
  gap: 4px;
  position: relative;
}

.input-label {
  font-size: 14px;
  color: $text-grey;
}

.input-wrapper {
  position: relative;
  @include flexStyles(flex, row, center, center);
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 10px 16px 10px 30px;
  border: 2px solid $input-border;
  border-radius: 10px;
  background: $input-bg;
  color: $white;
  font-size: 16px;
  transition: all 0.3s ease-in-out;

  &::placeholder {
    color: $light-grey;
    opacity: 0.7;
  }

  &:hover {
    border-color: $button-bg;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.input-icon {
  position: absolute;
  left: 12px;
}
